PORT=5000

# Dev CORS (uncomment for local frontend)
# CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

# Production
CORS_ORIGIN=https://gps.dynacleanindustries.com
APP_URL=https://gps.dynacleanindustries.com

MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/gps_tracking?appName=Cluster0
JWT_SECRET=your_jwt_secret_here
TBTRACK_SIGNIN_URL=https://tbtrack.in/gps/v3/signin
TBTRACK_VEHICLE_LIST_URL=https://tbtrack.in/gps/ajax/v3/vehicle/list/detail
TBTRACK_USERNAME=your_tbtrack_username
TBTRACK_PASSWORD=your_tbtrack_password
